#####################################################
#
# List of approvers for fms-model-optimizer repository
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

*  @andrea-fasoli @BrandonGroth @chichun-charlie-liu @kcirred @nwang-ibm @tharapalanivel 
